@import "../bower_components/semantic-ui/src/semantic.less";
// @import "/bower_components/semantic-ui/dist/semantic.min.css";


body {
  background-color: #dadada;
}
body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 650px;
}

.message > pre {
  text-align: left;
}
